.main-header {
  background-color: #ffbe00;
  background-image: linear-gradient(to top, transparent 0%, #fff5 100%);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header .logo {
  vertical-align: top;
  display: flex;
  margin: 40px;
  align-items: center;
}

.main-header .navSearch {
  display: flex;
  align-items: center;
  margin: 10px;
}

.main-header .navSearch input,
button {
  border: none;
  outline: none;
  height: 50px;
  background-color: #ffffff;
}

.main-header .navSearch input {
  padding-left: 20px;
  width: 80%;
  border-radius: 100px 0 0 100px;
}

.main-header .navSearch button {
  width: 20%;
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}

.main-header nav {
  margin: 40px;
}

.main-header nav ul {
  padding: 2px;
}

.main-header nav ul li {
  list-style-type: none;
  display: inline;
  margin: 0 10px;
  font-size: 24px;
  font-family: "inter";

  letter-spacing: 1px;
}

.main-header nav ul li a {
  color: #000000;
  text-decoration: none;
}

.main-header nav ul li a:hover {
  color: rgb(255, 255, 255);
}

.banner {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.banner img {
  width: 100%;
}

.banner .title {
  position: relative;

  padding: 0;

  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner .title h2 {
  position: absolute;
  font-size: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  color: white;
  letter-spacing: 10px;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  font-family: "inter";
}

.banner h1 {
  font-size: 40px;
  width: 100%;
  background-color: #2b3e79;

  height: 100px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 12px;
  margin: 0;
  font-family: "inter";
}
.top_btn ul {
  background-color: #2b3e79;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 0;
}

.top_btn ul li {
  font-size: 24px;
  color: #2b3e79;
  list-style-type: none;
  margin: 0 10px;
  width: 180px;
  height: 80px;
  background-color: #2b3e79;
  border: none;
  font-family: "inter";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border: #ffbe00 solid 1px;
}

.top_btn ul li:hover {
  background-color: #ffbe00;
  color: rgb(0, 0, 0);
}

.top_btn ul li a:hover {
  color: rgb(0, 0, 0);
}

.top_btn ul li a {
  color: #ffffff;
  text-decoration: none;
}

.top_btn ul li span {
  font-size: 32px;
  background-color: white;
  text-align: center;
  color: #000000;
  padding: 12px;
  border-radius: 50%;
  overflow: hidden;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .item {
  display: flex;
  flex-direction: row;
  color: black;
  width: 1200px;
  padding: 20px;
  margin-top: 60px;
  align-items: center;
  border: rgb(181, 181, 181) solid 1px;
  box-shadow: 4px 4px 4px 4px gray;
}

.card .item .word {
  width: 560px;
  height: 310px;
  margin: 30px;
}

.card .item .word h3 {
  font-size: 24px;
  letter-spacing: 1px;
  text-align: left;
  font-family: "inter";
  font-weight: 600;
  padding: 10px;
  margin: 0;
}
.card .item .word p {
  font-size: 18px;
  text-align: left;
  line-height: 1.5;
  font-family: "inter";
  margin: 10px 0 0 0;
  padding: 0 10px;
  letter-spacing: 1px;
}

.btn-view button {
  height: 60px;
  width: 148px;
  font-size: 20px;
  background: transparent;
  border: 2px solid #ffbe00;
  font-family: "Saira Extra Condensed", sans-serif;
  letter-spacing: 0.7px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  color: black;
  margin: 50px 0;
  opacity: 0.8;
  border-radius: 30px;
  transition: 0.6s ease-in;
  position: relative;
}

.btn-view button:hover {
  opacity: 1;
  font-size: 20px;
  cursor: pointer;
  background-color: #ffbe00;
  height: 60px;
  width: 148px;
  border-radius: 10px;
  font-family: "Saira Extra Condensed", sans-serif;
}
.back-to-top {
  /* 默認是隱藏的，這樣在第一屏才不顯示 */

  position: fixed; /* 位置是固定的 */

  bottom: 50px; /* 顯示在頁面底部 */

  right: 50px; /* 顯示在頁面的右邊 */

  z-index: 99; /* 確保不被其他功能覆蓋 */

  border: 3px solid #ffbe00; /* 顯示邊框 */

  outline: none; /* 不顯示外框 */

  background-color: white; /* 設置背景背景顏色 */

  /* 設置文本顏色 */

  cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */

  padding: 15px; /* 增加一些內邊距 */
  font-family: "Saira Extra Condensed", sans-serif;

  border-radius: 10px; /* 增加圓角 */
  width: 30px;
  height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: 0 5px 4px gray;
}

.back-to-top a {
  color: #000000;
}

.back-to-top:hover {
  background-color: #ffbe00;
  border-color: #fff;
}
.footer .wrap {
  display: flex;
  background-color: #9d8521;
  width: 100%;
  height: 240px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer .wrap .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.footer .wrap nav ul {
  padding: 2px;
}

.footer .wrap nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "inter";
  font-weight: lighter;
  padding: 0 8px;
}

.footer .wrap nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer .wrap .icon {
  display: flex;
  margin-left: 700px;
}

.footer .wrap .icon a {
  padding: 0 7px;
  margin-top: -96px;
}

.footer .wrap .bottom {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  color: rgb(217, 217, 217);
}
