/* header */
.header .container {
  background-color: #ffbe00;

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.header .header-logo {
  vertical-align: top;
  display: flex;
  padding: 0 30px;
  align-items: center;
  margin: 10px;
}

.header .navSearch {
  display: flex;
  align-items: center;
  margin: 10px;
}

.header .navSearch input,
button {
  border: none;
  outline: none;
  padding: 0 10px;
  height: 35px;
  background-color: #ffffff;
}

.header .navSearch input {
  padding: 0 10px;
  border-radius: 100px 0 0 100px;
}

.header .navSearch button {
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}

.header .gnav {
  margin: 30px;
  position: relative;
}

.header .gnav ul li {
  list-style-type: none;
  display: flex;

  margin: 0 6px;
  font-size: 20px;
  font-family: "inter";

  letter-spacing: 1px;
}

.header .gnav ul li a {
  color: #000000;
  text-decoration: none;
}

.header .gnav ul li a:hover {
  color: rgb(255, 255, 255);
}

.title {
  justify-content: left;
  text-align: center;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title .title_h3 {
  width: 180px;
  height: 44px;
  background-color: #2b3e79;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title h3 {
  width: 140px;
  display: flex;
  font-size: 28px;
  color: black;
  font-family: "inter";
  font-weight: 600;
  background-color: white;

  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
}

.title .path {
  display: flex;
  flex-direction: row;
  letter-spacing: 8%;

  color: black;
  margin-bottom: 20px;
  text-align: center;
}

.title .path li a {
  font-size: 24px;
  font-weight: 600;
  width: 5px;
  letter-spacing: 1.5px;
  color: #000000;
  border-right: #000000 solid 2px;
  padding: 0 5px;
  font-family: "inter";
  text-decoration: none;
}

.title .path .noline a {
  border: none;
}

.title .path li :hover {
  color: gray;
}
.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.banner {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.banner {
  position: relative;
  margin-bottom: 50px;
  width: 100%;
  background: url(../img/news/top.png) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

.banner h1 {
  position: absolute;
  font-size: 48px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "noto sanstc";
  text-shadow: 1px 1px #9f9f9f, 2px 2px #838383, 3px 3px 3px #898989;
  color: rgb(0, 0, 0);
  letter-spacing: 10px;
}

.card {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.card .item {
  display: flex;
  flex-direction: column;
  margin: 10px;

  position: relative;
  flex-wrap: wrap;
}

.card .item img {
  border: #c4c4c4 solid 1px;
  width: 280px;
}

.card .item .word {
  width: 280px;
  height: 260px;
  border: #c4c4c4 solid 1px;
}

.card .item .word h4 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 10%;
  text-align: center;
  font-family: "inter";
  border-bottom: #c4c4c4 solid 1px;
  padding: 10px 0;
  margin: 0;
}

.card .item .word p {
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  margin: 10px 0;
  padding: 0 10px;
  letter-spacing: 1px;
  font-family: "inter";
}

.wrap .btn button {
  height: 60px;
  width: 148px;
  font-size: 16px;
  background: transparent;
  border: 2px solid #ffbe00;
  font-family: "Saira Extra Condensed", sans-serif;
  letter-spacing: 0.7px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  color: black;

  margin: 50px 0;
  opacity: 0.8;
  border-radius: 30px;
  transition: 0.6s ease-in;
  position: relative;
}

.wrap .btn button:hover {
  opacity: 1;

  cursor: pointer;
  background-color: #ffbe00;
  height: 60px;
  width: 148px;
  border-radius: 10px;
  font-family: "Saira Extra Condensed", sans-serif;
}

/* 回到最上面 */

.back-to-top {
  /* 默認是隱藏的，這樣在第一屏才不顯示 */

  position: fixed; /* 位置是固定的 */

  bottom: 50px; /* 顯示在頁面底部 */

  right: 30px; /* 顯示在頁面的右邊 */

  z-index: 99; /* 確保不被其他功能覆蓋 */

  border: 3px solid #ffbe00; /* 顯示邊框 */

  outline: none; /* 不顯示外框 */

  background-color: white; /* 設置背景背景顏色 */

  /* 設置文本顏色 */

  cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */

  padding: 15px; /* 增加一些內邊距 */
  font-family: "Saira Extra Condensed", sans-serif;

  border-radius: 10px; /* 增加圓角 */
  width: 30px;
  height: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px gray;
  color: #000000;
}

.back-to-top a {
  text-decoration: none;
  color: #000000;
}

.back-to-top:hover {
  background-color: #ffbe00;
  border-color: #fff;
}

/* 頁尾 */

.footer .wrap {
  display: flex;
  background-color: #9d8521;
  width: 100%;
  height: 240px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: none;
}

.footer .wrap .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.footer .wrap nav ul {
  padding: 2px;
}

.footer .wrap nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "inter";
  font-weight: 5 00;
  padding: 0 8px;
}

.footer .wrap nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* .footer .wrap .icon {
  display: flex;
  margin-left: 700px;
}

.footer .wrap .icon a {
  padding: 0 7px;
  margin-top: -96px;
} */

.footer .wrap .footer-bottom {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  color: rgb(217, 217, 217);
}

/* 平板 768-1024 */

/* 手機版 */
/* 手機版 */
#menu-switch {
  display: none;
}
.hb {
  width: 40px;
  height: 40px;
  border: #eeeeee solid 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffbe00;
}
.hb span {
  width: 80%;
  height: 2px;
  margin: 3px auto;
  background-color: #fff;
}

@media screen and (width >= 768px) {
  .hb {
    display: none;
  }
}

@media screen and (width < 768px) {
  #menu-switch:checked ~ .header .gnav {
    display: block;
  }

  .gnav a + a {
    border-top: 1px solid #fff;
  }
}

@media screen and (width < 768px) {
  img {
    border: 0;
    max-width: 100%;
    height: auto;
  }
  img {
    border: 0;
    max-width: 100%;
    height: auto;
  }
  .gnav {
    width: 100%;
    background-color: #ffbe00;
    display: none;
    width: 100%;
  }

  .header .navSearch input {
    max-width: 100px;
    height: 30px;
  }
  .header .navSearch input,
  button {
    height: 30px;
  }
  .header .header-logo {
    width: 20%;
    padding: 0;
  }

  .gnav .container {
    flex-direction: column;
    gap: 10px;
  }

  .title .path li a {
    font-size: 16px;
    letter-spacing: normal;
  }

  .title .path li {
    line-height: 0;
  }

  h1 {
    font-size: 20px;
  }

  .wrap .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .wrap nav ul li {
    padding: 0 2px;
  }

  .footer .wrap nav ul li a {
    font-size: 14px;
  }

  .footer .wrap .footer-bottom {
    font-size: 8px;
  }
}
