.main-header {
  background-color: #ffbe00;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;

  justify-content: center;
}

.main-header .logo {
  vertical-align: top;
  display: flex;
  margin: 40px;
  align-items: center;
}

.main-header .navSearch {
  display: flex;
  align-items: center;
  margin: 10px;
}

.main-header .navSearch input,
button {
  border: none;
  outline: none;
  height: 50px;
  background-color: #ffffff;
}

.main-header .navSearch input {
  padding-left: 20px;
  width: 80%;
  border-radius: 100px 0 0 100px;
}

.main-header .navSearch button {
  width: 20%;
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}

.main-header nav {
  margin: 40px;
}

.main-header nav ul {
  padding: 2px;
}

.main-header nav ul li {
  list-style-type: none;
  display: inline;
  margin: 0 10px;
  font-size: 24px;
  letter-spacing: 1px;
}

.main-header nav ul li a {
  color: #000000;
  text-decoration: none;
}

.main-header nav ul li a:hover {
  color: rgb(255, 255, 255);
}

.wrap .title {
  font-size: 28px;
  width: 1280px;
  margin: 40px 0;
  height: 65px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffbe00;
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.banner {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.banner {
  position: relative;

  padding: 0;

  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner img {
  width: 100%;
}

.banner h1 {
  position: absolute;
  font-size: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(0, 0, 0);
  letter-spacing: 10px;
}

.button_page {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.button_page button {
  background: #ffbe00;
  width: 260px;
  height: 80px;
  font-size: 32px;

  font-family: inter;
  text-align: center;
  display: inline-block;
  color: black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.button_page button:hover {
  background-color: #2b3e79;

  color: #ffffff;
}

.card {
  width: 1300px;
  height: 1500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card .item img {
  border: #c4c4c4 solid 1px;
}

.card .item .word {
  width: 300px;
  height: 240px;
  border: #c4c4c4 solid 1px;
}

.card .item .word h4 {
  font-size: 20px;
  letter-spacing: 10%;
  text-align: center;

  border-bottom: #c4c4c4 solid 1px;
  padding: 10px;
  margin: 0;
}

.card .item .word p {
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  margin: 10px 0 0 0;
  padding: 0 10px;
  letter-spacing: 10%;
}

.wrap .btn button {
  height: 60px;
  width: 148px;
  font-size: 20px;
  background: transparent;
  border: 2px solid #ffbe00;
  font-family: roboto;
  text-align: center;
  display: inline-block;
  color: black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  margin: 50px 0;
}

.footer .wrap {
  display: flex;
  background-color: #9d8521;
  width: 100%;
  height: 240px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer .wrap .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.footer .wrap nav ul {
  padding: 2px;
}

.footer .wrap nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: fantasy;
  font-weight: lighter;
}

.footer .wrap nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer .wrap .icon {
  display: flex;
  margin-left: 700px;
}

.footer .wrap .icon a {
  padding: 0 7px;
  margin-top: -96px;
}

.footer .wrap .bottom {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  color: rgb(217, 217, 217);
}
