.header .container {
  background-color: #ffbe00;
  background-image: linear-gradient(to top, transparent 0%, #fff5 100%);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.header .header-logo {
  vertical-align: top;
  display: flex;
  margin: 40px;
  align-items: center;
}

.header .navSearch {
  display: flex;
  align-items: center;
  margin: 10px;
}

.header .navSearch input,
button {
  border: none;
  outline: none;
  height: 40px;
  background-color: #ffffff;
}

.header .navSearch input {
  padding-left: 20px;
  width: 70%;
  border-radius: 100px 0 0 100px;
}

.header .navSearch button {
  width: 20%;
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}

.header .gnav {
  margin: 40px;
}

.header .gnav ul {
  padding: 2px;
}

.header .gnav ul li {
  list-style-type: none;
  display: inline;
  margin: 0 6px;
  font-size: 20px;
  font-family: "inter";

  letter-spacing: 1px;
}

.header .gnav ul li a {
  color: #000000;
  text-decoration: none;
}

.header .gnav ul li a:hover {
  color: rgb(255, 255, 255);
}

.wrap {
  width: 100%;
}

.wrap .banner {
  position: relative;
  margin-bottom: 50px;
  height: 85%;
}

.wrap .banner .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.311);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .title h1 {
  color: white;
  font-size: 36px;
  font-family: "inter";
  font-weight: 500;
  letter-spacing: 4px;

  text-align: center;
}

.wrap .banner img {
  width: 100%;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 44px;

  flex-direction: column;
  align-items: center;
}

.title .title_h3 {
  width: 180px;
  height: 44px;
  background-color: #2b3e79;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title h3 {
  width: 140px;
  display: flex;
  font-size: 28px;
  color: black;
  font-family: "inter";
  font-weight: 600;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
}

.title .path {
  display: flex;
  flex-direction: row;
  letter-spacing: 8%;

  color: black;
  margin-bottom: 20px;
  text-align: center;
}

.title .path li a {
  font-size: 24px;
  font-weight: 600;
  width: 5px;
  letter-spacing: 1.5px;
  color: #000000;
  border-right: #000000 solid 2px;
  padding: 0 5px;
  font-family: "inter";
  text-decoration: none;
}

.title .path .noline a {
  border: none;
}

.title .path li :hover {
  color: gray;
}

.new {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.new .card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  box-sizing: border-box;
}

.new .card .item {
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.new .card .item .word {
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  font-family: "inter";
  color: white;
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .gnav .container li a {
    font-size: 16px;
  }
  .content .item {
    width: 50%;
    margin: 0 auto;
  }
  .banner .title h1 {
    font-size: 24px;
  }
  .wrap h3 {
    font-size: 20px;
  }
  .wrap p {
    font-size: 14px;
  }

  .new .path li a {
    font-size: 16px;
  }
  .news .path li a {
    font-size: 16px;
  }
  .news p {
    font-size: 14px;
  }
}

.news {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.news .card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  box-sizing: border-box;
}

.news .card .item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.news .card .item p {
  background-color: #ffbe00;
  font-size: 20px;
  line-height: 64px;
  letter-spacing: 1px;
  width: 280px;
  height: 64px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-family: "inter";
  letter-spacing: 1.5px;
}
.activity {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.activity .frontpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.activity .frontpage .content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  flex-wrap: wrap;
}

.activity .frontpage .content .item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;

  box-shadow: 0px 4px 8px #232d34;

  border-radius: 50%;
}

.activity .frontpage .content .item img {
  border-radius: 50%;
}

.activity .frontpage .content .item h3 {
  font-size: 28px;
  font-weight: bolder;
  position: absolute;
  color: rgb(0, 0, 0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 6px;
  font-family: "inter";
  text-shadow: 1px 1px #eeeeee, 3px 3px 3px #eeeeee;
}

.bottom {
  background-color: #224641;
}

.bottom .card {
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: row;

  align-items: center;
}

.bottom .card .item {
  display: inline-block;
  white-space: normal;
  word-break: break-all;

  width: 460px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: white solid 1px;
  border-radius: 23px;

  margin: 0 10px;
  padding: 0 10px;
}

.bottom .box {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.bottom .box p {
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 0;
  padding: 6px 0;
  color: #ffffff;
  font-family: "inter";
}

.bottom .word {
  width: 320px;
  height: 130px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;

  margin: 0 10px;

  color: #ffffff;
}

.bottom .word h4 {
  font-size: 20px;
  text-align: left;
  letter-spacing: 1px;
  margin: 0;
  font-family: "inter";
}

.bottom .word p {
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px 0;
  font-family: "inter";
}

.back-to-top {
  /* 默認是隱藏的，這樣在第一屏才不顯示 */

  position: fixed; /* 位置是固定的 */

  bottom: 50px; /* 顯示在頁面底部 */

  right: 50px; /* 顯示在頁面的右邊 */

  z-index: 99; /* 確保不被其他功能覆蓋 */

  border: 3px solid #ffbe00; /* 顯示邊框 */

  outline: none; /* 不顯示外框 */

  background-color: white; /* 設置背景背景顏色 */

  /* 設置文本顏色 */

  cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */

  padding: 15px; /* 增加一些內邊距 */
  font-family: "Saira Extra Condensed", sans-serif;

  border-radius: 10px; /* 增加圓角 */
  width: 30px;
  height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px gray;
  color: #000000;
}

.back-to-top a {
  text-decoration: none;
  color: #000000;
}

.back-to-top:hover {
  background-color: #ffbe00;
  border-color: #fff;
}

.footer .wrap {
  display: flex;
  background-color: #9d8521;
  width: 100%;
  height: 240px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: none;
}

.footer .wrap .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.footer .wrap nav ul {
  padding: 2px;
}

.footer .wrap nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "inter";
  font-weight: 5 00;
  padding: 0 8px;
}

.footer .wrap nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer .wrap .icon {
  display: flex;
  margin-left: 700px;
}

.footer .wrap .icon a {
  padding: 0 7px;
  margin-top: -96px;
}

.footer .wrap .footer-bottom {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  color: rgb(217, 217, 217);
}
body {
  background-color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}
