/* header */

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  /* height: 100%; */
}
.header .container {
  background-color: #ffbe00;

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.header .header-logo {
  vertical-align: top;
  display: flex;
  padding: 0 30px;
  align-items: center;
  margin: 10px;
}

.header .navSearch {
  display: flex;
  align-items: center;
  margin: 10px;
}

.header .navSearch input,
button {
  border: none;
  outline: none;
  padding: 0 10px;
  height: 35px;
  background-color: #ffffff;
}

.header .navSearch input {
  padding: 0 10px;
  border-radius: 100px 0 0 100px;
}

.header .navSearch button {
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}

.header .gnav {
  margin: 30px;
  position: relative;
}

.header .gnav ul li {
  list-style-type: none;
  display: flex;
  margin: 0 6px;
  font-size: 20px;
  font-family: "inter";

  letter-spacing: 1px;
}

.header .gnav ul li a {
  color: #000000;
  text-decoration: none;
}

.header .gnav ul li a:hover {
  color: rgb(255, 255, 255);
}

/* 旅遊情報 */

.wrap .banner {
  position: relative;
  margin-bottom: 50px;
  width: 100%;
  background: url(../img/front/top1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 800px;
}

.wrap .banner .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.311);
}

.banner .title h1 {
  color: white;
  font-size: 36px;
  font-family: "inter";
  font-weight: 500;
  letter-spacing: 4px;
  line-height: 1.5;
  margin: 0 30px;
  text-align: left;
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 44px;

  flex-direction: column;
  align-items: center;
}

.title .title_h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title .box {
  height: 44px;
  width: 20px;
  background-color: #2b3e79;
}

.title h3 {
  padding: 0 10px;
  display: flex;
  font-size: 28px;
  color: black;
  font-family: "inter";
  font-weight: 600;

  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
}

.title .path {
  display: flex;
  flex-direction: row;
  letter-spacing: 8%;

  color: black;
  margin-bottom: 20px;
  text-align: center;
}

.title .path li a {
  font-size: 24px;
  font-weight: 600;
  width: 5px;
  letter-spacing: 1.5px;
  color: #000000;
  border-right: #000000 solid 2px;
  padding: 0 5px;
  font-family: "inter";
  text-decoration: none;
}

.title .path .noline a {
  border: none;
}

.title .path li :hover {
  color: gray;
}

/* 國內旅遊 國外旅遊*/

.new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new .card {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;

  margin-bottom: 50px;
}

.new .card .item {
  position: relative;
  flex-wrap: wrap;
  margin: 10px;
}

.new .card .item .word {
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  font-family: "inter";
  color: white;
  font-weight: 600;
}
.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news .card {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 50px;
}

.news .card .item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
}

.news .card .item p {
  background-color: #ffbe00;
  font-size: 20px;
  line-height: 64px;
  letter-spacing: 1px;
  width: 280px;
  height: 64px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-family: "inter";
  letter-spacing: 1.5px;
}

/* 熱門活動 */

.activity {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.activity .frontpage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.activity .frontpage .content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.activity .frontpage .content .item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #ffffff00;
  border-radius: 50%;
  max-width: 280px;
  width: 100%;
}

.activity .frontpage .content .item :hover {
  background-color: #0000004b;
  border-radius: 50%;
}

.activity .frontpage .content .item img {
  border-radius: 50%;
  max-width: 280px;
  width: 100%;
}

.activity .frontpage .content .item h3 {
  font-size: 28px;
  font-weight: bolder;
  position: absolute;
  color: rgb(0, 0, 0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 6px;
  font-family: "inter";
  text-shadow: 1px 1px #eeeeee, 3px 3px 3px #eeeeee;
}

.activity .frontpage .content .item span {
  font-size: 16px;
  font-weight: bolder;
  position: absolute;
  color: rgb(255, 255, 255);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

  margin: 30px;
  letter-spacing: 2px;
  font-family: "Saira Extra Condensed", sans-serif;
  text-shadow: 1px 1px #757575, 1px 1px #757575;
  display: none;
}

/* 留言分享 */
.bottom {
  background-color: #224641;
  width: 100%;
}

.bottom .card {
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: row;

  align-items: center;
}

.bottom .card .item {
  display: inline-block;
  white-space: normal;
  word-break: break-all;

  width: 460px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: white solid 1px;
  border-radius: 23px;

  margin: 0 10px;
  padding: 0 10px;
}

.bottom .box {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.bottom .box p {
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 0;
  padding: 6px 0;
  color: #ffffff;
  font-family: "inter";
}

.bottom .word {
  width: 320px;
  height: 130px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;

  margin: 0 10px;

  color: #ffffff;
}

.bottom .word h4 {
  font-size: 20px;
  text-align: left;
  letter-spacing: 1px;
  margin: 0;
  font-family: "inter";
}

.bottom .word p {
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px 0;
  font-family: "inter";
}

/* 回到最上面 */

.back-to-top {
  /* 默認是隱藏的，這樣在第一屏才不顯示 */

  position: fixed; /* 位置是固定的 */

  bottom: 50px; /* 顯示在頁面底部 */

  right: 30px; /* 顯示在頁面的右邊 */

  z-index: 99; /* 確保不被其他功能覆蓋 */

  border: 3px solid #ffbe00; /* 顯示邊框 */

  outline: none; /* 不顯示外框 */

  background-color: white; /* 設置背景背景顏色 */

  /* 設置文本顏色 */

  cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */

  padding: 15px; /* 增加一些內邊距 */
  font-family: "Saira Extra Condensed", sans-serif;

  border-radius: 10px; /* 增加圓角 */
  width: 30px;
  height: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px gray;
  color: #000000;
}

.back-to-top a {
  text-decoration: none;
  color: #000000;
}

.back-to-top:hover {
  background-color: #ffbe00;
  border-color: #fff;
}

/* 頁尾 */

.footer .wrap {
  display: flex;
  background-color: #9d8521;
  width: 100%;
  height: 240px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: none;
}

.footer .wrap .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.footer .wrap nav ul {
  padding: 2px;
}

.footer .wrap nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "inter";
  font-weight: 5 00;
  padding: 0 8px;
}

.footer .wrap nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* .footer .wrap .icon {
  display: flex;
  margin-left: 700px;
}

.footer .wrap .icon a {
  padding: 0 7px;
  margin-top: -96px;
} */

.footer .wrap .footer-bottom {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  color: rgb(217, 217, 217);
}

/* 平板 768-1024 */

/* 手機版 */

#menu-switch {
  display: none;
}
.hb {
  width: 40px;
  height: 40px;
  border: #2b3e79 solid 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hb span {
  width: 80%;
  height: 2px;
  margin: 3px auto;
  background-color: #2b3e79;
}

@media screen and (width >= 768px) {
  .hb {
    display: none;
  }
}

@media screen and (width < 768px) {
  #menu-switch:checked ~ .header .gnav {
    display: block;
  }

  .gnav .container {
    flex-direction: column;

    gap: 10px;
  }

  #menu-switch:checked ~ .header .container li {
    transform: scaleY(1);
  }

  /* .gnav .container li {
    border-top: #2b3e79 solid 2px;
  } */
}

@media screen and (width < 768px) {
  img {
    border: 0;
    max-width: 100%;
    height: auto;
  }
  .gnav {
    width: 100%;

    display: none;
    width: 100%;
  }

  .wrap .banner {
    min-height: 400px;
  }

  .header .navSearch input {
    max-width: 100px;
    height: 30px;
  }
  .header .navSearch input,
  button {
    height: 30px;
  }
  .header .header-logo {
    width: 20%;
    padding: 0;
  }

  .header .gnav ul li {
    width: 100%;
    padding: 15px;
    background-color: #ffcc00c8;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .gnav .container li a {
    font-size: 16px;
  }
  .content .item {
    width: 50%;
    margin: 0 auto;
  }
  .banner .title h1 {
    font-size: 20px;
  }
  .wrap .new img {
    height: 280px;
    width: 280px;
  }
  .new .title .path li {
    line-height: 0;
  }

  .news .title .path li {
    line-height: 0;
  }

  .new .path li a {
    font-size: 16px;
    padding: 0 2px;
    letter-spacing: 1;
  }

  .news .path li a {
    font-size: 16px;
    letter-spacing: 1;
  }

  .new .card .item p {
    font-size: 16px;
  }

  .news .card .item p {
    font-size: 16px;
  }
  .news .card {
    data-aos: block;
  }

  .new .card {
    data-aos: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .activity .frontpage .content .item {
    margin: 10px;
  }

  .activity .frontpage .content .item h3 {
    font-size: 24px;
  }

  .activity .frontpage .content .item span {
    display: block;
  }

  .activity .frontpage .content .item :hover {
    display: none;
  }

  .footer .wrap nav ul li {
    padding: 0 2px;
  }

  .footer .wrap nav ul li a {
    font-size: 14px;
  }

  .footer .wrap .footer-bottom {
    font-size: 8px;
  }
}
