/* header */
.header {
  position: sticky;
  top: 0;
  z-index: 99;
  /* height: 100%; */
}
.header .container {
  background-color: #ffbe00;

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.header .header-logo {
  vertical-align: top;
  display: flex;
  padding: 0 30px;
  align-items: center;
  margin: 10px;
}

.header .navSearch {
  display: flex;
  align-items: center;
  margin: 10px;
}

.header .navSearch input,
button {
  border: none;
  outline: none;
  padding: 0 10px;
  height: 35px;
  background-color: #ffffff;
}

.header .navSearch input {
  padding: 0 10px;
  border-radius: 100px 0 0 100px;
  max-width: 200px;
}

.header .navSearch button {
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}

.header .gnav {
  margin: 30px;
  position: relative;
}

.header .gnav ul li {
  list-style-type: none;
  display: flex;

  margin: 0 6px;
  font-size: 20px;
  font-family: "inter";

  letter-spacing: 1px;
}

.header .gnav ul li a {
  color: #000000;
  text-decoration: none;
}

.header .gnav ul li a:hover {
  color: rgb(255, 255, 255);
}

#username,
#password,
h3,
#fullname,
#comfirm_password,
#username2,
#password2 {
  width: 250px;
  height: 20px;
  margin: 10px;
  color: #2b3e79;
  font-family: "inter";
  font-size: 16px;
}

h5 {
  margin: 20px;
  color: #a3a2a3;
  font-family: "inter";
  font-size: 16px;
  letter-spacing: 1.5;
}

h5:hover {
  color: black;
}

.login-wrap {
  width: 100%;
  height: 90vh;
  background: url(../img/login/banner02.jpg) no-repeat;
  padding: 20px;
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  background: #0000005f;
  position: absolute;
  width: 100%;
  height: 100%;
}

#container1,
#container2 {
  width: 300px;
  height: 300px;
  background-color: white;

  border: 3px solid #2b3e79;
  box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  letter-spacing: 1.5;
}

.submit {
  color: white;
  background: #2b3e79;
  width: 250px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
  font-family: "inter";
  font-size: 16px;
  letter-spacing: 1.5;
}

.submit:hover {
  background: #ffbe00;
  color: black;
}

#container2 {
  visibility: hidden; /*剛開始消失*/
  height: 400px;
}

input {
  padding: 5px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.footer .wrap {
  display: flex;
  background-color: #9d8521;
  width: 100%;
  height: 240px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: none;
}

.footer .wrap .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.footer .wrap nav ul {
  padding: 2px;
}

.footer .wrap nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "inter";
  font-weight: 5 00;
  padding: 0 8px;
}

.footer .wrap nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* .footer .wrap .icon {
    display: flex;
    margin-left: 700px;
  }
  
  .footer .wrap .icon a {
    padding: 0 7px;
    margin-top: -96px;
  } */

.footer .wrap .footer-bottom {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  color: rgb(217, 217, 217);
}

/* 手機版 */
#menu-switch {
  display: none;
}
.hb {
  width: 40px;
  height: 40px;
  border: #2b3e79 solid 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffbe00;
}
.hb span {
  width: 80%;
  height: 2px;
  margin: 3px auto;
  background-color: #2b3e79;
}

@media screen and (width >= 768px) {
  .hb {
    display: none;
  }
}

@media screen and (width < 768px) {
  #menu-switch:checked ~ .header .gnav {
    display: block;
  }

  .gnav a + a {
    border-top: 1px solid #fff;
  }
}

@media screen and (width < 768px) {
  img {
    border: 0;
    max-width: 100%;
    height: auto;
  }

  .gnav {
    width: 100%;
    background-color: #ffbe00;
    display: none;
    width: 100%;
  }
  .header .navSearch input {
    max-width: 100px;
    height: 30px;
  }
  .header .navSearch input,
  button {
    height: 30px;
  }
  .header .header-logo {
    width: 20%;
    padding: 0;
  }

  .gnav .container {
    flex-direction: column;
    gap: 10px;
  }
  .header .gnav ul li {
    width: 100%;
    padding: 15px;
    background-color: #ffcc00c8;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .gnav .container li a {
    font-size: 16px;
  }
  .footer .wrap nav ul li {
    padding: 0 2px;
  }

  .footer .wrap nav ul li a {
    font-size: 14px;
  }

  .footer .wrap .footer-bottom {
    font-size: 8px;
  }
}
