.main-header {
  background-color: #ffbe00;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header .logo {
  vertical-align: top;
  display: flex;
  margin: 40px;
  align-items: center;
}

.main-header .navSearch {
  display: flex;
  align-items: center;
  margin: 10px;
}

.main-header .navSearch input,
button {
  border: none;
  outline: none;
  height: 50px;
  background-color: #ffffff;
}

.main-header .navSearch input {
  padding-left: 20px;
  width: 80%;
  border-radius: 100px 0 0 100px;
}

.main-header .navSearch button {
  width: 20%;
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}

.main-header nav {
  margin: 40px;
}

.main-header nav ul {
  padding: 2px;
}

.main-header nav ul li {
  list-style-type: none;
  display: inline;
  margin: 0 10px;
  font-size: 24px;
  letter-spacing: 1px;
}

.main-header nav ul li a {
  color: #000000;
  text-decoration: none;
}

.main-header nav ul li a:hover {
  color: rgb(255, 255, 255);
}

.banner {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.banner .title {
  position: relative;

  padding: 0;

  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner img {
  width: 100%;
}

.banner .title h1 {
  position: absolute;
  font-size: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(0, 0, 0);
  letter-spacing: 10px;
}

.wrap .title {
  background-color: #2b3e79;
  height: 78px;
  font-size: 52px;
  color: black;
  letter-spacing: 23;
  text-align: center;
  line-height: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
}

.wrap .title h3 {
  width: 289px;
  margin: 30px;
  font-size: 52px;
  color: black;
  background-color: white;
  line-height: 78px;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap .card {
  display: flex;
  justify-content: space-between;

  width: 1532px;
}

.wrap .item {
  display: flex;
  flex-direction: column;
  width: 503px;
  justify-content: space-between;
  align-items: center;
}

.wrap .item .word {
  width: 471px;
  height: 123px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.wrap .item .word p {
  padding: 0 30px;
  text-align: left;
  font-size: 20px;
  color: #717171;
}

.wrap .item .word h3 {
  font-size: 24px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.journey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.journey .title {
  background-color: #2b3e79;
  height: 78px;
  font-size: 52px;
  color: black;
  letter-spacing: 23;
  text-align: center;
  line-height: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
}

.journey .title h3 {
  width: 289px;
  margin: 30px;
  font-size: 52px;
  color: black;
  background-color: white;
  line-height: 78px;
}

.journey .card {
  display: flex;
  width: 1532px;

  flex-direction: column;
}

.journey .card .card_top {
  display: flex;
  flex-direction: row;
  width: 1542px;
  justify-content: space-between;
}

.journey .card .card_down {
  display: flex;
  flex-direction: row;
  width: 1542px;
  justify-content: space-between;
}

.journey .card .item .word img {
  position: relative;
}

.journey .card .item h3 {
  text-align: center;
  font-size: 28px;
  color: rgb(0, 0, 0);
}

.journey .card .item .word {
  width: 471px;
  height: 123px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.journey .card .item .word p {
  padding: 0 30px;
  text-align: left;
  font-size: 20px;
  color: #000000;
}

.journey .card .item .word h3 {
  font-size: 24px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.wrap_food .food {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrap_food .food .title {
  background-color: #2b3e79;
  height: 78px;
  font-size: 52px;
  color: black;
  letter-spacing: 23;
  text-align: center;
  line-height: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
}

.wrap_food .food .title h3 {
  width: 289px;
  margin: 30px;

  font-size: 52px;
  color: black;
  background-color: white;

  line-height: 78px;
}

.wrap_food .food .card {
  display: flex;
  height: 496px;
  width: 1543px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrap_food .food .card .item {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.wrap_food .food .card .item h4 {
  background-color: #ffbe00;

  font-size: 24px;
  line-height: 64px;
  width: 380px;
  height: 60px;
  text-align: center;
  letter-spacing: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: inter;
  font-weight: bolder;
}

.news_bottom {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.news_bottom .item {
  float: left;
  position: relative;
}

.news_bottom .item img {
  width: 100%;
  vertical-align: middle;
}
.news_bottom .item:first-child {
  width: 50%;
}

.news_bottom .item:first-child ~ .item {
  width: 25%;
}

.news_bottom .item .txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news_bottom .item:hover .txt {
  display: flex;
}

.news_bottom .item h3 {
  margin-bottom: 0.4em;
}

.news_bottom .item p {
  font-weight: 100;
  line-height: 1.7;
}

.footer .wrap {
  display: flex;
  background-color: #9d8521;
  width: 100%;
  height: 240px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer .wrap .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.footer .wrap nav ul {
  padding: 2px;
}

.footer .wrap nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: fantasy;
  font-weight: lighter;
}

.footer .wrap nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer .wrap .icon {
  display: flex;
  margin-left: 700px;
}

.footer .wrap .icon a {
  padding: 0 7px;
  margin-top: -96px;
}

.footer .wrap .bottom {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  color: rgb(217, 217, 217);
}
