.main-header {
  background-color: #ffbe00;
  background-image: linear-gradient(to top, transparent 0%, #fff5 100%);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header .logo {
  vertical-align: top;
  display: flex;
  margin: 40px;
  align-items: center;
}

.main-header .navSearch {
  display: flex;
  align-items: center;
  margin: 10px;
}

.main-header .navSearch input,
button {
  border: none;
  outline: none;
  height: 50px;
  background-color: #ffffff;
}

.main-header .navSearch input {
  padding-left: 20px;
  width: 80%;
  border-radius: 100px 0 0 100px;
}

.main-header .navSearch button {
  width: 20%;
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}

.main-header nav {
  margin: 40px;
}

.main-header nav ul {
  padding: 2px;
}

.main-header nav ul li {
  list-style-type: none;
  display: inline;
  margin: 0 6px;
  font-size: 20px;
  font-family: "inter";
  letter-spacing: 1px;
}

.main-header nav ul li a {
  color: #000000;
  text-decoration: none;
}

.main-header nav ul li a:hover {
  color: rgb(255, 255, 255);
}

.banner {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.banner .title {
  position: relative;

  padding: 0;

  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner img {
  width: 100%;
}

.banner .title h1 {
  position: absolute;
  font-size: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "inter";
  text-shadow: 1px 1px #9f9f9f, 2px 2px #838383, 3px 3px 3px #898989;
  color: rgb(0, 0, 0);
  letter-spacing: 10px;
}
.wrap .title {
  width: 280px;
  height: 64px;
  background-color: #2b3e79;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.wrap .title h3 {
  width: 220px;
  display: flex;
  font-size: 36px;
  color: black;
  line-height: 64px;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-family: "inter";
  font-weight: 600;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap .card {
  display: flex;
  justify-content: space-between;

  width: 1200px;
}

.wrap .item {
  display: flex;
  flex-direction: column;
  width: 380px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.wrap .item .word {
  width: 380px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 117.5px;
  padding: 0;
  color: rgba(0, 0, 0, 0.789);
  background-color: #ffffffc4;
}

.wrap .item p {
  margin: 10px;
  padding: 0 10px;
  text-align: left;
  font-size: 16px;
  font-family: "inter";
  letter-spacing: 0.7px;
  line-height: 1.5;
  height: 100px;
  width: 360px;
}

.wrap .item h3 {
  font-size: 20px;
  text-align: center;
  font-family: "inter";
  letter-spacing: 1.5px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-weight: 600;
}
.journey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.journey .title {
  width: 280px;
  height: 64px;
  background-color: #2b3e79;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.journey .title h3 {
  width: 220px;
  display: flex;
  font-size: 36px;
  color: black;
  line-height: 64px;
  font-family: "inter";
  font-weight: 600;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.journey .card {
  display: flex;
  width: 1200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.journey .item {
  display: flex;
  flex-direction: column;
  width: 380px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.journey .card .card_top {
  display: flex;
  justify-content: space-between;

  width: 1200px;
  align-content: center;
}

.journey .card .card_down {
  display: flex;
  justify-content: space-between;

  width: 1200px;
}

.journey .card .item h3 {
  text-align: center;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.789);
  letter-spacing: 1.5px;
  font-family: "inter";
}

.journey .card .item .word {
  width: 380px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 117.5px;
  padding: 0;
  color: rgba(0, 0, 0, 0.789);
  background-color: #ffffffc4;
}

.journey .card .item p {
  padding: 10px;
  padding: 0 10px;
  text-align: left;
  font-size: 16px;
  font-family: "inter";
  letter-spacing: 0.7px;
  line-height: 1.5;
  height: 100px;
  width: 360px;
}

.journey .card .item h3 {
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.5px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.wrap_food .food {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 70px;
}

.wrap_food .food .title {
  width: 280px;
  height: 64px;
  background-color: #2b3e79;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.wrap_food .food .title h3 {
  width: 220px;
  display: flex;
  font-size: 36px;
  color: black;
  line-height: 64px;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-family: "inter";
  font-weight: 600;
}

.wrap_food .food .card {
  display: flex;
  height: 320px;
  width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrap_food .food .card .item {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.wrap_food .food .card .item img {
  transform: scale(1, 1);
  transition: all 1s ease-out;
}

.wrap_food .food .card .item img:hover {
  transform: scale(1.5, 1.5);
}

.wrap_food .food .card .item h4 {
  background-color: #ffbe00;
  font-size: 20px;
  line-height: 64px;
  width: 280px;
  height: 60px;
  text-align: center;
  letter-spacing: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: "inter";
  font-weight: 600;
}

.news_bottom {
  width: 100%;
  display: flex;
}

.news_bottom .bottom_left {
  width: 50%;

  margin: auto;
  overflow: hidden;
}

.news_bottom .bottom_right {
  width: 50%;

  margin: auto;
  overflow: hidden;
}

.news_bottom .bottom_left .item {
  float: left;
  position: relative;
}

.news_bottom .bottom_right .item {
  float: right;
  position: relative;
}

.news_bottom .item img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.news_bottom .bottom_left .item:first-child {
  width: 50%;
  height: 50%;
}

.news_bottom .bottom_left .item:nth-child(n + 2):nth-child(-n + 5) {
  width: 25%;
  height: 25%;
}

.news_bottom .bottom_left .item {
  float: left;
  position: relative;
}

.news_bottom .bottom_right .item:first-child {
  width: 50%;
  height: 50%;
}

.news_bottom .bottom_right .item:nth-child(n + 2):nth-child(-n + 5) {
  width: 25%;
  height: 25%;
}

.news_bottom .item .txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  text-align: center;
  background: rgba(0, 0, 0, 0.611);
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  transition: 0.5s;
}

.news_bottom .item h3 {
  font-size: 16px;
  font-family: "inter";
  font-weight: 500;
}

.news_bottom .item p {
  font-size: 12px;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 10px 20px;
  text-align: left;
  font-family: "inter";
}

.news_bottom .item:hover .txt {
  opacity: 1;
}

.news_bottom .item h3 {
  margin-bottom: 0.4em;
  font-family: "inter";
}

.news_bottom .item p {
  font-weight: 100;
  line-height: 1.7;
  font-family: "inter";
}
.back-to-top {
  /* 默認是隱藏的，這樣在第一屏才不顯示 */

  position: fixed; /* 位置是固定的 */

  bottom: 50px; /* 顯示在頁面底部 */

  right: 50px; /* 顯示在頁面的右邊 */

  z-index: 99; /* 確保不被其他功能覆蓋 */

  border: 3px solid #ffbe00; /* 顯示邊框 */

  outline: none; /* 不顯示外框 */

  background-color: white; /* 設置背景背景顏色 */

  /* 設置文本顏色 */

  cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */

  padding: 15px; /* 增加一些內邊距 */
  font-family: "Saira Extra Condensed", sans-serif;

  border-radius: 10px; /* 增加圓角 */
  width: 30px;
  height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: 0 5px 4px gray;
  color: #000000;
}

.back-to-top a {
  text-decoration: none;
  color: #000000;
}

.back-to-top:hover {
  background-color: #ffbe00;
  border-color: #fff;
}
.footer .wrap {
  display: flex;
  background-color: #9d8521;
  width: 100%;
  height: 240px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer .wrap .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.footer .wrap nav ul {
  padding: 2px;
}

.footer .wrap nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "inter";
  font-weight: lighter;
  padding: 0 8px;
}

.footer .wrap nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer .wrap .icon {
  display: flex;
  margin-left: 700px;
}

.footer .wrap .icon a {
  padding: 0 7px;
  margin-top: -96px;
}

.footer .wrap .bottom {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  color: rgb(217, 217, 217);
}
