/* header */
.header .container {
  background-color: #ffbe00;

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.header .header-logo {
  vertical-align: top;
  display: flex;
  padding: 0 30px;
  align-items: center;
  margin: 10px;
}

.header .navSearch {
  display: flex;
  align-items: center;
  margin: 10px;
}

.header .navSearch input,
button {
  border: none;
  outline: none;
  padding: 0 10px;
  height: 35px;
  background-color: #ffffff;
}

.header .navSearch input {
  padding: 0 10px;
  border-radius: 100px 0 0 100px;
}

.header .navSearch button {
  width: 20%;
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}

.header .gnav {
  margin: 30px;
  position: relative;
}

.header .gnav ul li {
  list-style-type: none;
  display: flex;

  margin: 0 6px;
  font-size: 20px;
  font-family: "inter";

  letter-spacing: 1px;
}

.header .gnav ul li a {
  color: #000000;
  text-decoration: none;
}

.header .gnav ul li a:hover {
  color: rgb(255, 255, 255);
}

.banner {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.banner {
  position: relative;
  margin-bottom: 50px;
  width: 100%;
  background: url(../img/news/top.png) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

.banner h1 {
  position: absolute;
  font-size: 48px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "noto sanstc";
  text-shadow: 1px 1px #9f9f9f, 2px 2px #838383, 3px 3px 3px #898989;
  color: rgb(0, 0, 0);
  letter-spacing: 10px;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap .card {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.wrap .card .item {
  display: flex;
  flex-direction: column;
  margin: 10px;

  position: relative;
  flex-wrap: wrap;
}

.wrap .card .item .word {
  width: 380px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 25%;

  position: absolute;

  color: rgba(0, 0, 0, 0.789);
  background-color: #ffffffc4;
}

.wrap .card .item p {
  margin: 10px;
  text-align: left;
  font-size: 16px;
  font-family: "inter";
  letter-spacing: 0.7px;
  line-height: 1.5;

  width: 360px;
}

.wrap .card .item h3 {
  font-size: 20px;
  text-align: center;
  font-family: "inter";

  font-weight: 600;
}
.title {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 44px;

  flex-direction: column;
  align-items: center;
}

.title .title_h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title .box {
  height: 44px;
  width: 20px;
  background-color: #2b3e79;
}

.title h3 {
  padding: 0 10px;
  display: flex;
  font-size: 28px;
  color: black;
  font-family: "inter";
  font-weight: 600;

  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
}

.wrap .card-food {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.wrap .card-food .item {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 10px;
  overflow: hidden;
}

.wrap .card-food .item img {
  transform: scale(1, 1);
  transition: all 1s ease-out;
}

.wrap .card-food .item img:hover {
  transform: scale(1.5, 1.5);
}

.wrap .card-food .item h4 {
  background-color: #ffbe00;
  font-size: 20px;
  line-height: 64px;
  width: 280px;
  height: 60px;
  text-align: center;
  letter-spacing: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: "inter";
  font-weight: 600;
}

.news_bottom {
  width: 100%;
  display: flex;
}

.news_bottom .bottom_left {
  width: 50%;

  margin: auto;
  overflow: hidden;
}

.news_bottom .bottom_right {
  width: 50%;

  margin: auto;
  overflow: hidden;
}

.news_bottom .bottom_left .item {
  float: left;
  position: relative;
}

.news_bottom .bottom_right .item {
  float: right;
  position: relative;
}

.news_bottom .item img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.news_bottom .bottom_left .item:first-child {
  width: 50%;
  height: 50%;
}

.news_bottom .bottom_left .item:nth-child(n + 2):nth-child(-n + 5) {
  width: 25%;
  height: 25%;
}

.news_bottom .bottom_left .item {
  float: left;
  position: relative;
}

.news_bottom .bottom_right .item:first-child {
  width: 50%;
  height: 50%;
}

.news_bottom .bottom_right .item:nth-child(n + 2):nth-child(-n + 5) {
  width: 25%;
  height: 25%;
}

.news_bottom .item .txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  text-align: center;
  background: rgba(0, 0, 0, 0.611);
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  transition: 0.5s;
}

.news_bottom .item h3 {
  font-size: 16px;
  font-family: "inter";
  font-weight: 500;
}

.news_bottom .item p {
  font-size: 12px;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 10px 20px;
  text-align: left;
  font-family: "inter";
}

.news_bottom .item:hover .txt {
  opacity: 1;
}

.news_bottom .item h3 {
  margin-bottom: 0.4em;
  font-family: "inter";
}

.news_bottom .item p {
  font-weight: 100;
  line-height: 1.7;
  font-family: "inter";
}
.back-to-top {
  /* 默認是隱藏的，這樣在第一屏才不顯示 */

  position: fixed; /* 位置是固定的 */

  bottom: 50px; /* 顯示在頁面底部 */

  right: 50px; /* 顯示在頁面的右邊 */

  z-index: 99; /* 確保不被其他功能覆蓋 */

  border: 3px solid #ffbe00; /* 顯示邊框 */

  outline: none; /* 不顯示外框 */

  background-color: white; /* 設置背景背景顏色 */

  /* 設置文本顏色 */

  cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */

  padding: 15px; /* 增加一些內邊距 */
  font-family: "Saira Extra Condensed", sans-serif;

  border-radius: 10px; /* 增加圓角 */
  width: 30px;
  height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: 0 5px 4px gray;
  color: #000000;
}

.back-to-top a {
  text-decoration: none;
  color: #000000;
}

.back-to-top:hover {
  background-color: #ffbe00;
  border-color: #fff;
}

.footer .wrap {
  display: flex;
  background-color: #9d8521;
  width: 100%;
  height: 240px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: none;
}

.footer .wrap .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.footer .wrap nav ul {
  padding: 2px;
}

.footer .wrap nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "inter";
  font-weight: 5 00;
  padding: 0 8px;
}

.footer .wrap nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* .footer .wrap .icon {
  display: flex;
  margin-left: 700px;
}

.footer .wrap .icon a {
  padding: 0 7px;
  margin-top: -96px;
} */

.footer .wrap .footer-bottom {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  color: rgb(217, 217, 217);
}
/* 手機版 */
#menu-switch {
  display: none;
}
.hb {
  width: 40px;
  height: 40px;
  border: #eeeeee solid 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffbe00;
}
.hb span {
  width: 80%;
  height: 2px;
  margin: 3px auto;
  background-color: #fff;
}

@media screen and (width >= 768px) {
  .hb {
    display: none;
  }
}

@media screen and (width < 768px) {
  #menu-switch:checked ~ .header .gnav {
    display: block;
  }

  .gnav a + a {
    border-top: 1px solid #fff;
  }
}

@media screen and (width < 768px) {
  img {
    border: 0;
    max-width: 100%;
    height: auto;
  }
  img {
    border: 0;
    max-width: 100%;
    height: auto;
  }
  .gnav {
    width: 100%;
    background-color: #ffbe00;
    display: none;
    width: 100%;
  }

  .header .header-logo {
    padding: 0;
  }

  .gnav .container {
    flex-direction: column;
    gap: 10px;
  }

  .gnav .container li a {
    font-size: 16px;
  }

  .banner .title h1 {
    font-size: 20px;
  }

  .wrap .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrap .card-food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .wrap nav ul li {
    padding: 0 2px;
  }

  .footer .wrap nav ul li a {
    font-size: 14px;
  }

  .footer .wrap .footer-bottom {
    font-size: 8px;
  }
}
