/* header */
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  /* height: 100%; */
}
.header .container {
  background-color: #ffbe00;

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.header .header-logo {
  vertical-align: top;
  display: flex;
  padding: 0 30px;
  align-items: center;
  margin: 10px;
}

.header .navSearch {
  display: flex;
  align-items: center;
  margin: 10px;
}

.header .navSearch input,
button {
  border: none;
  outline: none;
  padding: 0 10px;
  height: 35px;
  background-color: #ffffff;
}

.header .navSearch input {
  padding: 0 10px;
  border-radius: 100px 0 0 100px;
}

.header .navSearch button {
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}

.header .gnav {
  margin: 30px;
  position: relative;
}

.header .gnav ul li {
  list-style-type: none;
  display: flex;

  margin: 0 6px;
  font-size: 20px;
  font-family: "inter";

  letter-spacing: 1px;
}

.header .gnav ul li a {
  color: #000000;
  text-decoration: none;
}

.header .gnav ul li a:hover {
  color: rgb(255, 255, 255);
}
.banner {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.banner .title {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  background: url(../img/activity_park/banner.svg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

.banner .title h2 {
  position: absolute;
  font-size: 32px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  color: white;
  letter-spacing: 10px;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  font-family: "inter";
}

.banner h1 {
  font-size: 36px;
  width: 100%;
  background-color: #2b3e79;
  background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  height: 80px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 12px;
  margin: 0;
  font-family: "inter";
}
.top_btn ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.top_btn ul li {
  color: #2b3e79;
  list-style-type: none;
  margin: 10px;
  padding: 30px 10px;
  background-color: #2b3e79;

  border: none;
  font-family: "inter";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;

  padding-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.top_btn ul li a p {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.top_btn ul li:hover {
  background-color: #ffbe00;
  color: rgb(0, 0, 0);
}

.top_btn ul li p:hover {
  color: #000;
}
.top_btn ul li span {
  font-size: 24px;
  background-color: white;
  text-align: center;
  color: #000000;
  padding: 8px 10px;
  border-radius: 50%;
  overflow: hidden;
  font-family: "inter";
  margin: 10px;
}
.title {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 44px;

  flex-direction: column;
  align-items: center;
}

.title .title_h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title .box {
  height: 44px;
  width: 20px;
  background-color: #2b3e79;
}

.title h3 {
  padding: 0 10px;
  display: flex;
  font-size: 28px;
  color: black;
  font-family: "inter";
  font-weight: 600;

  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
}

.hotview_park {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotview_park .card {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  /* flex-wrap: wrap; */

  width: 100%;
  justify-content: space-between;
}

.hotview_park .card .item {
  margin: 10px;
}

.hotview_park .word {
  text-align: center;
  color: #ffffff;

  padding: 20px;
  background-color: #2b3e79;
  background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  letter-spacing: 2px;
  font-family: "Saira Extra Condensed", sans-serif;

  margin-bottom: 100px;
}
.hotview_park .word span {
  font-size: 20px;
}

.hotview_park .word:hover .hover {
  display: block;

  padding: 10px;
  /* border: black solid 1px; */

  color: #000000;
}
.hotview_park .word:hover {
  background-color: rgb(239, 239, 239);
  color: rgb(0, 0, 0);

  background-image: none;

  width: 380px;
  height: 160px;
}

.hotview_park .hover {
  margin: 25px 0;
  display: none;

  width: 300px;
  height: 80px;

  text-align: left;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #000000;
}

.btn button {
  height: 60px;
  width: 148px;
  font-size: 16px;
  background: transparent;
  border: 2px solid #2b3e79;
  font-family: "Saira Extra Condensed", sans-serif;
  letter-spacing: 0.7px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  color: black;
  margin-top: 20px;
  opacity: 0.8;
  border-radius: 30px;
  transition: 0.6s ease-in;
  position: relative;
  margin-bottom: 50px;
  background-color: #fff;
}

.btn button:hover {
  opacity: 1;
  font-size: 16px;
  cursor: pointer;
  background-color: #2b3e79;
  color: #fff;
  height: 60px;
  width: 148px;
  border-radius: 10px;
  font-family: "Saira Extra Condensed", sans-serif;
}
/* 回到最上面 */

.back-to-top {
  /* 默認是隱藏的，這樣在第一屏才不顯示 */

  position: fixed; /* 位置是固定的 */

  bottom: 50px; /* 顯示在頁面底部 */

  right: 30px; /* 顯示在頁面的右邊 */

  z-index: 99; /* 確保不被其他功能覆蓋 */

  border: 3px solid #ffbe00; /* 顯示邊框 */

  outline: none; /* 不顯示外框 */

  background-color: white; /* 設置背景背景顏色 */

  /* 設置文本顏色 */

  cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */

  padding: 15px; /* 增加一些內邊距 */
  font-family: "Saira Extra Condensed", sans-serif;

  border-radius: 10px; /* 增加圓角 */
  width: 30px;
  height: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px gray;
  color: #000000;
}

.back-to-top a {
  text-decoration: none;
  color: #000000;
}

.back-to-top:hover {
  background-color: #ffbe00;
  border-color: #fff;
}

/* 頁尾 */

.footer .wrap {
  display: flex;
  background-color: #9d8521;
  width: 100%;
  height: 240px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: none;
}

.footer .wrap .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.footer .wrap nav ul {
  padding: 2px;
}

.footer .wrap nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "inter";
  font-weight: 5 00;
  padding: 0 8px;
}

.footer .wrap nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* .footer .wrap .icon {
  display: flex;
  margin-left: 700px;
}

.footer .wrap .icon a {
  padding: 0 7px;
  margin-top: -96px;
} */

.footer .wrap .footer-bottom {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  color: rgb(217, 217, 217);
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
}

/* 平板 768-1024 */

/* 手機版 */

#menu-switch {
  display: none;
}
.hb {
  width: 40px;
  height: 40px;
  border: #2b3e79 solid 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2b3e79;
}
.hb span {
  width: 80%;
  height: 2px;
  margin: 3px auto;
  background-color: #fff;
}

@media screen and (width >= 768px) {
  .hb {
    display: none;
  }
}

@media screen and (width < 768px) {
  #menu-switch:checked ~ .header .gnav {
    display: block;
  }

  .gnav a + a {
    border-top: 1px solid #fff;
  }
}

@media screen and (width < 768px) {
  img {
    border: 0;
    max-width: 100%;
    height: auto;
  }
  .gnav {
    width: 100%;
    background-color: #ffbe00;
    display: none;
    width: 100%;
  }

  .header .navSearch input {
    max-width: 100px;
    height: 30px;
  }
  .header .navSearch input,
  button {
    height: 30px;
  }
  .header .header-logo {
    width: 20%;
    padding: 0;
  }
  .gnav .container {
    flex-direction: column;
    gap: 10px;
  }
  .header .gnav ul li {
    width: 100%;
    padding: 15px;
    background-color: #ffcc00c8;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .gnav .container li a {
    font-size: 16px;
  }

  .top_btn ul {
    justify-content: space-around;
    margin: auto;
    padding: auto;
  }
  .top_btn ul li {
    padding: 20px 10px;
  }
  .top_btn ul li span {
    font-size: 20px;

    padding: 6px 8px;
  }

  .top_btn ul li a p {
    font-size: 16px;
  }
  .banner .title h2 {
    letter-spacing: 1px;
    margin: 0;
    font-size: 24px;
  }
  .hotview_park .card {
    justify-content: center;
    margin-bottom: 0;
    flex-wrap: wrap;
  }
  .card .item {
    margin: 0 10px;
  }
  .hotview_park .hover {
    display: block;
    width: none;
    color: #ffffff;
    padding-left: 30px;
  }
  .hotview_park .word span {
    background-color: #2b3e79;
  }
  .hotview_park .word {
    background-image: none;
  }

  .footer .wrap nav ul li {
    padding: 0 2px;
  }

  .footer .wrap nav ul li a {
    font-size: 14px;
  }

  .footer .wrap .footer-bottom {
    font-size: 8px;
  }
}
