/* header */
.header .container {
  background-color: #ffbe00;

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.header .header-logo {
  vertical-align: top;
  display: flex;
  padding: 0 30px;
  align-items: center;
  margin: 10px;
}

.header .navSearch {
  display: flex;
  align-items: center;
  margin: 10px;
}

.header .navSearch input,
button {
  border: none;
  outline: none;
  padding: 0 10px;
  height: 35px;
  background-color: #ffffff;
}

.header .navSearch input {
  padding: 0 10px;
  border-radius: 100px 0 0 100px;
}

.header .navSearch button {
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}

.header .gnav {
  margin: 30px;
  position: relative;
}

.header .gnav ul li {
  list-style-type: none;
  display: flex;

  margin: 0 6px;
  font-size: 20px;
  font-family: "inter";

  letter-spacing: 1px;
}

.header .gnav ul li a {
  color: #000000;
  text-decoration: none;
}

.header .gnav ul li a:hover {
  color: rgb(255, 255, 255);
}

.banner {
  width: 100%;
  background: url(../img/plaining/banner.svg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
}
.trip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: auto;
}

.trip_plan {
  display: flex;
  overflow: hidden;
}

.trip_plan_full .title {
  background-color: #ffbf00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.trip_plan_full .title h1 {
  font-size: 28px;
  text-align: center;
  font-family: "inter";
  font-weight: 600;
}

.trip_plan_full .title p {
  font-size: 20px;
  text-align: center;
  font-family: "arial";
  padding: 8px 0;
  width: 350px;
  margin-top: 10px;
  background-color: #2b3e79;
  color: white;
  border-radius: 5px;
}

.trip_plan .trip {
  width: 60%;
  height: 100vh;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.trip_plan .trip .top {
  background-color: #2b3e79;
  width: 86%;
  height: 10%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "inter";
  color: white;
  border-radius: 5px;
}

.trip .content {
  width: 83%;
  height: 40%;
  display: flex;
  background-color: #2b3e79;
  color: white;
  padding-left: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trip .content img {
  width: 50%;
}

.trip .content p {
  padding: 4%;
  display: flex;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-size: 16px;
  font-family: "inter";
}

.trip iframe {
  padding-bottom: 10px;
  width: 86%;
  height: 40%;
}

.plan {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #2b3e79;

  padding-top: 20px;
  padding-left: 100px;
}

.plan .date {
  font-family: "inter";
  display: flex;
  width: 380px;
  margin-bottom: 30px;
}

.card {
  position: relative;
  width: 380px;
  height: 150px;
  background-color: #ffbe00;
  font-family: "inter";
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  position: relative;

  background-image: radial-gradient(
      circle at 120px top,
      #2b3e79,
      #2b3e79 14px,
      transparent 15px
    ),
    radial-gradient(
      circle at 120px bottom,
      #2b3e79,
      #2b3e79 14px,
      transparent 15px
    );
}

.card > .line {
  position: absolute;
  left: 120px;
  top: 12px;
  width: 4px;
  height: 120px;
  background-image: linear-gradient(
    to top,
    #ffffff 0%,
    #ffffff 50%,
    transparent 50%
  );
  background-size: 2px 14px;
  background-repeat: repeat-y;
}

.card > .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card > .left .top {
  width: 70px;
  height: 28px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  font-family: "arial";
  align-items: center;
}

.card > .left .icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #ffffff;
}

.card > .left .bottom {
  width: 70px;
  height: 28px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  font-family: "arial";
  align-items: center;
}

.card > .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card > .right .top {
  border-radius: 5px;
  width: 180px;
  height: 60px;
  letter-spacing: 1.5px;
  background-color: white;
  font-size: 16px;
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "inter";
}

.card > .right .add {
  width: 200px;
  height: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.7px;
  align-items: center;
  font-family: "inter";
}

.card > .right .bottom {
  width: 180px;
  height: 60px;
  border-radius: 5px;
  background-color: white;
  color: #a4a4a4;
  font-size: 14px;
  margin: 16px 0;
  display: flex;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  font-family: "inter";
}

.time {
  font-size: 16px;
  margin: 20px 140px;
  letter-spacing: 1px;
  color: white;
  font-family: "Saira Extra Condensed", sans-serif;
}

.box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffbe00;
  border: #e4e4e4 2px solid;
  text-align: center;
  font-family: "Saira Extra Condensed", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 6px;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.plan .btn {
  width: 100px;
  height: 30px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbf00;
  border: white 1px solid;
  border-radius: 50px;

  margin-bottom: 20px;
  letter-spacing: 1px;
  font-family: "inter";

  padding: 10px 0;
  margin-left: 130px;
}

/* 回到最上面 */

.back-to-top {
  /* 默認是隱藏的，這樣在第一屏才不顯示 */

  position: fixed; /* 位置是固定的 */

  bottom: 50px; /* 顯示在頁面底部 */

  right: 30px; /* 顯示在頁面的右邊 */

  z-index: 99; /* 確保不被其他功能覆蓋 */

  border: 3px solid #ffbe00; /* 顯示邊框 */

  outline: none; /* 不顯示外框 */

  background-color: white; /* 設置背景背景顏色 */

  /* 設置文本顏色 */

  cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */

  padding: 15px; /* 增加一些內邊距 */
  font-family: "Saira Extra Condensed", sans-serif;

  border-radius: 10px; /* 增加圓角 */
  width: 30px;
  height: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px gray;
  color: #000000;
}

.back-to-top a {
  text-decoration: none;
  color: #000000;
}

.back-to-top:hover {
  background-color: #ffbe00;
  border-color: #fff;
}

/* 頁尾 */

.footer .wrap {
  display: flex;
  background-color: #9d8521;
  width: 100%;
  height: 240px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: none;
}

.footer .wrap .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.footer .wrap nav ul {
  padding: 2px;
}

.footer .wrap nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "inter";
  font-weight: 5 00;
  padding: 0 8px;
}

.footer .wrap nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* .footer .wrap .icon {
  display: flex;
  margin-left: 700px;
}

.footer .wrap .icon a {
  padding: 0 7px;
  margin-top: -96px;
} */

.footer .wrap .footer-bottom {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  color: rgb(217, 217, 217);
}

/* 平板 768-1024 */

/* 手機版 */

#menu-switch {
  display: none;
}
.hb {
  width: 40px;
  height: 40px;
  border: #2b3e79 solid 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffbe00;
}

.hb span {
  width: 80%;
  height: 2px;
  margin: 3px auto;
  background-color: #2b3e79;
}

@media screen and (width >= 768px) {
  .hb {
    display: none;
  }
}

@media screen and (width < 768px) {
  #menu-switch:checked ~ .header .gnav {
    display: block;
  }

  .gnav a + a {
    border-top: 1px solid #fff;
  }
}

@media screen and (width < 768px) {
  img {
    border: 0;
    max-width: 100%;
    height: auto;
  }
  .gnav {
    width: 100%;
    background-color: #ffbe00;
    display: none;
    width: 100%;
  }

  .header .navSearch input {
    max-width: 100px;
    height: 30px;
  }
  .header .navSearch input,
  button {
    height: 30px;
  }
  .header .header-logo {
    width: 20%;
    padding: 0;
  }

  .gnav .container {
    flex-direction: column;
    gap: 10px;
  }

  .gnav .container li a {
    font-size: 16px;
  }
  .trip_plan {
    flex-direction: column-reverse;
  }
}
